@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');


* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background:black;
  padding:75px;
  text-align:center;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Encode Sans Condensed', sans-serif;
}

th{
  color: white;
}

td{
  color: white;
}

.btn{
  color:#999999;
  padding:10px 20px;
  font-size:13px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border-bottom: 1px solid #ff7433;
  color:#ff7433;
}
