@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');


* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background:black;
  padding:75px;
  text-align:center;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Encode Sans Condensed', sans-serif;
}


.btn{
  color: #999999;
  padding: 10px 20px;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover{
  border-bottom: 1px solid #ff7433;
  color:#ff7433;
}

#demo{
  padding-top: 50px;
}

#quote{
  padding-top: 20px;
  color: #999999;
}

.container{
  padding-top: 50px;
}

#row1{
  padding: 25px;
  border-top: solid 1px #ff7433;
  border-bottom: solid 1px #ff7433;
  color: #999999;
}

h4{
  color: #ff7433;
}

.bottomgrid{
  color: #999999;
}

.follow{
  color: white;
}

h2{
  color: #ff7433;
}

#books{
  width: 5cm;
  height: 6cm;
/*  border-left: 1px solid #999999;
  border-right: 1px solid #999999;*/
  border: 1px solid #999999;
}

#bestsellers{
  margin-top: 50px;
  border: 1px solid #999999;
  width: 50%;
  border-radius: 50px;
}

.sellers{
  padding-top: 15px;
}

#bookdetails{
  color: #999999;
}

#buynow{
  border: 1px solid #999999;
  width: 30%;
  border-radius: 50px;

}

#buynow:hover{
  border: 1px solid #ff7433;
  color: #999999;
}

.lgnbtn{
  color: #999999;
}

#buynowlink{
  text-decoration: none;
}


