@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background:black;
  padding:75px;
  text-align:center;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.container{
	margin: 50px;
	color: #999999;
}

#return{
	color: white;
}